<a href="https://colab.research.google.com/github/isaiahluc/DS2002S25/blob/main/python/superhero_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Superhero Database Assignment (SQLite & Google Colab)

## Objective
In this assignment, you will design and implement a **Superhero Database** using SQLite in Google Colab. This database will store superheroes, villains, and their battles. You will write SQL queries to analyze battle outcomes and relationships between heroes and villains.

### Group Size:
- 2 to 3 students per group.

### Tools Required:
- **Google Colab**
- **SQLite (built into Python)**
- **CSV files (provided for import)**

## Step 1: Setting Up Your SQLite Database

### Tasks:
1. Initialize SQLite in Google Colab.
2. Create a database named `superhero_db.sqlite`.
3. Define the database schema, ensuring it includes the following tables:
   - `heroes`: Stores superhero names, powers, and teams.
   - `villains`: Stores villains and their evil plans.
   - `battles`: Tracks battles between heroes and villains, including the outcome.
4. Implement primary keys and foreign keys where appropriate.

✅ **Checkpoint:** Ensure that the database and tables have been successfully created.

In [8]:
import sqlite3

# Create or connect to an SQLite database
conn = sqlite3.connect('superhero_db.sqlite')

# Check if the connection was successful
print("Database created and connected!")



# Create a cursor object
cursor = conn.cursor()

# Explanation
print("Cursor created!")

# Create the heroes table
cursor.execute('''
CREATE TABLE IF NOT EXISTS heroes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    power TEXT NOT NULL,
    team TEXT NOT NULL

)
''')

# Create the villains table
cursor.execute('''
CREATE TABLE IF NOT EXISTS villains (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    evil_plan TEXT NOT NULL

)
''')

# Create the battles table
cursor.execute('''
CREATE TABLE IF NOT EXISTS battles (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    hero_id INT,
    villain_id INT,
    outcome TEXT NOT NULL

)
''')
# Close the cursor
cursor.close()


print("Tables initiated successfully")

Database created and connected!
Cursor created!
Tables initiated successfully

## Step 2: Import Data from CSV Files

### Tasks:
1. Download the provided CSV files.
2. Upload them to Google Colab.
3. Write a script to import data from these files into the appropriate tables.
4. Verify that the data has been successfully inserted.

✅ **Checkpoint:** Ensure that each table contains the expected data from the CSV files.

In [17]:
import pandas as pd

# Load data from CSV into a DataFrame for heroes
df_heroes = pd.read_csv('heroes.csv')

# Load data from CSV into a DataFrame for villains
df_villains = pd.read_csv('villains.csv')

# Load data from CSV into a DataFrame for battles
df_battles = pd.read_csv('battles.csv')

# Display first five entries of DataFrames
print(df_heroes.head())
print(df_villains.head())
print(df_battles.head())


# Insert data from the DataFrame into the the three table
df_heroes.to_sql('heroes', conn, if_exists='replace', index=False)
df_villains.to_sql('villains', conn, if_exists='replace', index=False)
df_battles.to_sql('battles', conn, if_exists='replace', index=False)

print("Data from CSV has been inserted into the sales table.")
# Create a cursor object

cursur=conn.cursor();

# Fetch all data from the heroes table
cursor.execute("SELECT * FROM heroes")
rows = cursor.fetchall()

# Print the results
print("All heroes data:")
for row in rows:
    print(row)


    # Fetch all data from the villains table
cursor.execute("SELECT * FROM villains")
rows = cursor.fetchall()

# Print the results
print("All villians data:")
for row in rows:
    print(row)


    # Fetch all data from the battles table
cursor.execute("SELECT * FROM battles")
rows = cursor.fetchall()

# Print the results
print("All battles data:")
for row in rows:
    print(row)


cursur.close()

   id        name             power            team
0   1  Spider-Man      Web-slinging        Avengers
1   2    Iron Man     Powered Armor        Avengers
2   3      Batman  Genius Detective  Justice League
3   4    Superman    Super Strength  Justice League
4   5        Thor    God of Thunder        Avengers
   id          name                           evil_plan
0   1  Green Goblin                  Terrorize New York
1   2        Thanos         Collect all Infinity Stones
2   3         Joker              Spread chaos in Gotham
3   4    Lex Luthor                     Defeat Superman
4   5          Loki  Trick humanity into worshiping him
   id  hero_id  villain_id       outcome
0   1        1          10  Villain Wins
1   2        9           3     Hero Wins
2   3        8           1          Draw
3   4        5           4  Villain Wins
4   5        1           7     Hero Wins
Data from CSV has been inserted into the sales table.
All heroes data:
(1, 'Spider-Man', 'Web-slinging', 'Avengers')
(2, 'Iron Man', 'Powered Armor', 'Avengers')
(3, 'Batman', 'Genius Detective', 'Justice League')
(4, 'Superman', 'Super Strength', 'Justice League')
(5, 'Thor', 'God of Thunder', 'Avengers')
(6, 'Wonder Woman', 'Amazonian Strength', 'Justice League')
(7, 'Black Panther', 'Enhanced Agility', 'Avengers')
(8, 'The Flash', 'Super Speed', 'Justice League')
(9, 'Hulk', 'Super Strength', 'Avengers')
(10, 'Doctor Strange', 'Mystic Arts', 'Avengers')
All villians data:
(1, 'Green Goblin', 'Terrorize New York')
(2, 'Thanos', 'Collect all Infinity Stones')
(3, 'Joker', 'Spread chaos in Gotham')
(4, 'Lex Luthor', 'Defeat Superman')
(5, 'Loki', 'Trick humanity into worshiping him')
(6, 'Ultron', 'AI world domination')
(7, 'Darkseid', 'Control the universe')
(8, 'Venom', 'Consume Spider-Man')
(9, 'Magneto', 'Mutant supremacy')
(10, 'Red Skull', 'Revive Hydra')
All battles data:
(1, 1, 10, 'Villain Wins')
(2, 9, 3, 'Hero Wins')
(3, 8, 1, 'Draw')
(4, 5, 4, 'Villain Wins')
(5, 1, 7, 'Hero Wins')
(6, 2, 8, 'Villain Wins')
(7, 9, 8, 'Hero Wins')
(8, 3, 2, 'Hero Wins')
(9, 7, 5, 'Hero Wins')
(10, 3, 1, 'Draw')
(11, 1, 8, 'Villain Wins')
(12, 2, 1, 'Draw')
(13, 8, 9, 'Hero Wins')
(14, 8, 1, 'Draw')
(15, 6, 10, 'Draw')
(16, 1, 1, 'Villain Wins')
(17, 8, 3, 'Draw')
(18, 6, 3, 'Villain Wins')
(19, 4, 8, 'Villain Wins')
(20, 3, 4, 'Hero Wins')
(21, 8, 1, 'Draw')
(22, 4, 9, 'Draw')
(23, 3, 9, 'Draw')
(24, 8, 9, 'Villain Wins')
(25, 2, 5, 'Draw')
(26, 3, 7, 'Draw')
(27, 10, 3, 'Draw')
(28, 3, 8, 'Draw')
(29, 3, 5, 'Hero Wins')
(30, 5, 5, 'Hero Wins')

## Step 3: Querying the Database

### Tasks:
Write SQL queries to answer the following:
1. Retrieve all superheroes and their powers.
2. Find all battles where the hero won.
3. List all villains and their evil plans.
4. Determine which superhero has fought the most battles.

✅ **Checkpoint:** Ensure that all queries return meaningful results from the database.

In [21]:
# 1
# Create cursor
cursor=conn.cursor()

# Extracting name and power from table
cursor.execute("SELECT name,power FROM heroes")
heroes_data = cursor.fetchall()


# Print the results
print("Superheroes and their powers:")
for hero in heroes_data:
    print(f"Name: {hero[0]}, Power: {hero[1]}")




# 2
cursor.execute("SELECT id FROM battles WHERE outcome='Hero Wins' ")
herowins_data=cursor.fetchall()
# Print the results
print("All battles where hero wins:")
for hero in herowins_data:
    print("Battle: " + str(hero[0]))

Superheroes and their powers:
Name: Spider-Man, Power: Web-slinging
Name: Iron Man, Power: Powered Armor
Name: Batman, Power: Genius Detective
Name: Superman, Power: Super Strength
Name: Thor, Power: God of Thunder
Name: Wonder Woman, Power: Amazonian Strength
Name: Black Panther, Power: Enhanced Agility
Name: The Flash, Power: Super Speed
Name: Hulk, Power: Super Strength
Name: Doctor Strange, Power: Mystic Arts
All battles where hero wins:
Battle: 2
Battle: 5
Battle: 7
Battle: 8
Battle: 9
Battle: 13
Battle: 20
Battle: 29
Battle: 30

## Step 4: Add a Custom Feature

### Tasks:
1. Design and implement an additional table related to superheroes or villains.
2. Populate it with data.
3. Write at least one query to retrieve meaningful insights from the new table.

**Examples of Custom Features:**
- Sidekicks for superheroes
- Villain hideouts
- Battle locations
- Superhero equipment

✅ **Checkpoint:** Ensure that the new table and queries function correctly.

## Bonus Challenge (+5 Points)

### Tasks:
1. Enhance your project by adding a visual or interactive component.

**Options:**
- Visualize battles using Matplotlib (e.g., a bar chart showing how many battles each superhero has fought).
- Make it interactive (e.g., allow users to input a superhero name and display their battles).

✅ **Checkpoint:** If attempting the bonus, ensure that your visualization or interactive component works correctly.

## Submission Guidelines

Each group must submit a **Google Colab Notebook (.ipynb)** containing:
- ✅ **Database schema (DDL)**
- ✅ **CSV imports & data insertion (DML)**
- ✅ **SQL queries & results**
- ✅ **Custom feature (bonus if applicable)**

## Grading Criteria (Total: 25 Points)

| Section                 | Points |
|-------------------------|--------|
| Database Setup          | 5      |
| Data Importing         | 10     |
| Querying the Data      | 10     |
| Extra Feature          | 5      |
| Bonus Challenge (Optional) | +5  |

### Final Notes:
- Be **creative** when designing superheroes and villains.
- **Comment your code** to explain its functionality.
- **Have fun** building your superhero universe!